<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/logotipo.png" class="w-auto animated bounceIn" alt="Website Logo">
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-node fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h2>NodeJs Website</h2>
                <p>
                    <span>
                        At vero eos et accusamus et iusto odio dignissimos ducimus 
                        qui blanditiis praesentium voluptatum deleniti atque corrupti 
                        quos dolores et quas molestias excepturi sint occaecati cupiditate 
                        non provident, similique sunt in culpa qui officia deserunt mollitia 
                        animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis 
                        est et expedita distinctio. Nam libero tempore, cum soluta nobis est 
                        eligendi optio cumque nihil impedit quo minus id quod maxime placeat 
                        facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    </span>
                </p>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

</body>
</html>